<h1>投稿一覧</h1>

<% @lists.each do |list| %>  <!--%の次に＝がないからこの分は表示されない-->
<!--@listsでDB内のレコードデータ全て取得してる-->
<!--eachメソッドでDB内のレコードデータ全てを順番に取得している-->
<!--ブロック変数listにはその順番に取得したデータを格納してる-->

  <p>タイトル</p>
  <span><%= list.title %></span>
  <!--上で、db内のレコードデータ全てを順番に取得した。そのうちtitleカラムのみ表示させる-->
<% end %>
<!--投稿のタイトルのみ表示される-->