<h2>タイトル</h2>
<p><%= @list.title %></p>  <!--@listには、フォーム入力後保存したデータの内、URLで指定したidのレコード入ってる-->
　　<!--URLで指定したidレコードのうち、titleカラムのデータを表示する-->

<h2>本文</h2>
<p><%= @list.body %></p>
<%= link_to "編集",edit_list_path(@list.id) %>